{% extends "public/templates/public_template.html" %}
{% set active_page = 'home' %}
{% set nav = 'show' %}
{% block title %} {{ title }} {% endblock %}
{% block head %}
<!-- P5JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.min.js" integrity="sha512-NxocnqsXP3zm0Xb42zqVMvjQIktKEpTIbCXXyhBPxqGZHqhcOXHs4pXI/GoZ8lE+2NJONRifuBpi9DxC58L0Lw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Scenes -->
{% endblock %}
{% block main %}

{% endblock %}
{% block script %}
<script>
    var DEBUG = true;
</script>
<script src="{{ url_for('static', filename='scenes/'+scene_id+'/objects.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/sketch.js') }}"></script>
{% endblock %}